body {
  margin: 0;
  padding: 0;
}

.formulario {
  width: 794px;   /* A4 - 21cm */
  margin: 0 auto;
}

.pagina {
  position: relative;
  width: 794px;
  height: 1123px; /* A4 - 29.7cm */
  page-break-after: always;
  font-family: sans-serif;
}

.form-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.input{
  position: absolute;
  text-align: center;
  z-index: 2;
  background: transparent;
  border: none;
  padding: 2px 4px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  font-weight: bolder;
}

@media print {
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    padding: 0;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }
}

.vtr1 { top: 190px; left: 180px; width: 50px; }
.km1 { top: 190px; left: 275px; width: 50px; }
.vtr2 { top: 190px; left: 395px; width: 50px; }
.km2 { top: 190px; left: 495px; width: 50px; }
.vtr3 { top: 190px; left: 610px; width: 50px; }
.km3 { top: 190px; left: 710px; width: 50px; }
.data { top: 253px; left: 76px; width: 70px; }
.turno1 { top: 253px; left: 240px; width: 50px; }
.turno2 { top: 253px; left: 320px; width: 50px; }
.equipe { top: 288px; left: 80px; width: 400px; }
.ht { top: 285px; left: 560px; width: 180px; }
.talao { top: 363px; left: 32px; width: 40px; }
.km { top: 363px; left: 90px; width: 58px; }
.areas { top: 363px; left: 460px; width: 300px; }

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .pagina {
    page-break-after: always;
  }

  .form-background {
    print-color-adjust: exact;
  }
}
